[submodule "abb_packages/ABBDriver"]
	path = abb_packages/ABBDriver
	url = https://github.com/Collaborative-Robotic-Arms/ABBDriver.git
[submodule "detection_grasping"]
	path = detection_grasping
	url = https://github.com/Collaborative-Robotic-Arms/detection_grasping.git
[submodule "supervisor_package"]
	path = supervisor_package
	url = https://github.com/Collaborative-Robotic-Arms/supervisor_package.git
[submodule "ros2_gui_bridge"]
	path = ros2_gui_bridge
	url = https://github.com/Collaborative-Robotic-Arms/ros2_gui_bridge.git
[submodule "abb_packages/ros2_SimRealRobotControl"]
	path = abb_packages/ros2_SimRealRobotControl
	url = https://github.com/Collaborative-Robotic-Arms/ros2_SimRealRobotControl.git
[submodule "abb_packages/ros2_RobotSimulation"]
	path = abb_packages/ros2_RobotSimulation
	url = https://github.com/Collaborative-Robotic-Arms/ros2_RobotSimulation.git
[submodule "Ar4_driver"]
	path = Ar4_driver
	url = https://github.com/Collaborative-Robotic-Arms/Ar4_driver.git
[submodule "dual_arms_packages/assembly_environment"]
	path = dual_arms_packages/assembly_environment
	url = https://github.com/Collaborative-Robotic-Arms/assembly_environment.git
[submodule "dual_arms_packages/solvers_dual_arms"]
	path = dual_arms_packages/solvers_dual_arms
	url = https://github.com/Collaborative-Robotic-Arms/solvers_dual_arms.git
[submodule "dual_arms_packages/dual_arms"]
	path = dual_arms_packages/dual_arms
	url = https://github.com/Collaborative-Robotic-Arms/dual_arms.git
[submodule "dual_arms_packages/dual_arms_msgs"]
	path = dual_arms_packages/dual_arms_msgs
	url = https://github.com/Collaborative-Robotic-Arms/dual_arms_msgs.git
[submodule "dual_robot_teach_replay"]
	path = dual_robot_teach_replay
	url = https://github.com/Collaborative-Robotic-Arms/dual_robot_teach_replay.git
